@keyframes arrow {
  from {
    left: -19px;
  }

  to {
    left: -23px;
  }
}

@keyframes core {
  to {
    fill: var(--sparks-color);
  }
}

@keyframes main-body {
  to {
    fill: var(--sparks-color);
  }
}

@keyframes counter {
  to {
    fill: var(--sparks-color);
  }
}

@keyframes heart {
  to {
    fill: var(--sparks-color);
    transform: scale(1.5);
    transform-origin: center;
  }
}

@keyframes sparks {
  to {
    opacity: 1;
  }
}
